body{
    margin: 0px;
    scroll-behavior: auto;
}
.container{
    display: flex;
    flex-direction: column;
}
.body{
    display: flex;
    flex-direction: row;
    height: 70vh;
    background-color: #FFCD9E;
}
.fotter{
    display: flex;
    height: 30vh;
    background-color:  #282828;
}
.body-register{
   width: 55%;
   padding-left: 10%;
   padding-right: 10%;
   padding-top: 10px;
}
.body-image{
    width: 45%;
}
.man-image{
    height: 100%;
    width: 100%;
}

.body-heading{
   font-size: 36px;
   font-family: sans-serif;
   font-weight: bold;
   color: #282828;
}
.body-info{
   font-size: 20px;
   font-family: sans-serif;
   color: #282828;
}
.show-me{
    font-family: sans-serif;
    color: #282828;
    font-weight: bolder;
    font-size: medium;
}
.input-mail{
    height: 32px;
    width: 250px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 0px;
}
.thanku{
    font-size: xx-large;
    font-family: sans-serif;
    font-weight: bolder;
    margin: 0px ;
}
.button-register{
    height: 36px;
    width: 200px;
    background-color: #282828;
    color:#FFFFFF;
    border-radius:5px;
    border: 2px solid black;
    font-family: sans-serif;
    font-size: medium;
    margin-left: 5px;
}
.tag{
    height: 34px;
    width: 250px;
    color:#FFFFFF;
    text-align: left;
    font-size: small;
    font-family: sans-serif;
}
.fotter-left{
    width: 50%;
    padding-left: 10%;
    padding-top: 2%;
    color: #FFFFFF;
}
ul{
    list-style-type: none;
    font-size:medium;
    font-family: sans-serif;
}
li{
    padding-bottom: 5px;
}
.fotter-right{
    width:50% ;
    padding-right: 15%;
    padding-top: 2%;
    color: #FFFFFF;
    display: flex;
    justify-content: end;
}
